<div id="cerveza-home">
    <img src="images/beer.png" alt="beer" width="300px" />
    <br>
    
    <div id="buttons">
    <a href="/beers"> Beers </a>
    <a href="/random-beer"> Random Beer </a>
    </div>
    
</div>